<ion-view view-title="Settings">
  <ion-content class="padding">
    <h2>Settings</h2>
	<p>This is the settings page. It will contain the following:</p>
	<ul>
		<li>Option to export localstorage (csv?)</li>
		<li>Option to import file</li>
		<li>Option to erase localstorage</li>
		<li>Erase remote storage?</li>
		<li>Unlink accounts?</li>
	</ul>
    <hr>
    <h2>About Budjee</h2>
	<p><strong>Budjee</strong> is a basic self-budgeting app. It's designed to be very simple, and to provide immediate feedback on the state of your day-to-day finances. Its accuracy is dependent on the information provided, so it's best used as a general rough idea of what you have available. It's not meant to replace your banking app, just to provide a faster, slightly more anonymous glance at your funds.</p>
	<p>This app was built using the <a href="http://ionicframework.com/" target="_blank">Ionic Framework</a>.</p>
	<p>You can visit the GitHub page for this app here: <a href="https://github.com/pVVEN/budjee" target="_blank">Budjee</a></p>
  </ion-content>
</ion-view>
